[loggers]
keys=root

[handlers]
keys=consoleHandler,fileHandler

[formatters]
keys=simple,detailed

[logger_root]
level=DEBUG
handlers=consoleHandler,fileHandler

[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=simple
args=(sys.stdout,)

[handler_fileHandler]
class=FileHandler
level=DEBUG
formatter=detailed
args=('../reports/python.log', 'w')

[formatter_simple]
format=%(name)s:%(levelname)s:  %(message)s
datefmt=

[formatter_detailed]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt=
